/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin, padding */
body,
a,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}


/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    padding: 2rem;
    width: 37.5rem;
    height: auto;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1rem;

}

.menu__icon {
    width: 90px;
    height: auto;
    padding-right: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    width: 37.5rem;
    padding: 2rem;
    background-image: url(./images/hamburger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__title,
.header__description {
    color: aliceblue;
}

.button_plus {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    background: #fff;
    cursor: pointer;
    border: 2px solid lightgray;
    border-radius: 50%;
}

.button_plus::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: lightgray;
}

.button_plus::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 50%;
    background: lightgray;
}

.shopping-list__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35em;
}

.shopping-list__title {
    text-align: center;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.item-button {
    color: rgba(0, 0, 0, 0.622);
    margin-top: 0.2rem;
    font-size: 1rem;
}

.summary__price {
    width: 35em;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-btn {
    cursor: pointer;
}